.bg-baptemes {
  background-color: #2e5347;
}

.bg-equipe {
  background-color: #2e5347;
}


.card-img-top {
  height: 160px;
  object-fit: cover;
}

#formations img,
#moyens img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}


#galerie img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}